zhconv==1.4.3
editdistance
sacrebleu==1.5.1
whisper_normalizer
langdetect
immutabledict
sqlglot
treelib
loguru
func_timeout
regex==2024.4.16
nltk==3.8.1
sqlparse==0.5.1
json_repair==0.39.1
vllm>=0.8.5
transformers>=4.57.0
word2number
latex2sympy2
Pillow
aiohttp
pandas
pyyaml
chardet
